body {
    background-color: #A0AAB2;
}

.meu-nome {
    text-align: center;
}

h1 { 
 font-family: Arial, Helvetica, sans-serif , Haettenschweiler, 'Arial Narrow Bold', sans-serif ; color: black;
}

#paragrafo1 {
    font-family: Georgia, 'Times New Roman', Times, serif; font-style: italic;
}

#paragrafo2, #paragrafo3 {
    font-family: Arial, Helvetica, sans-serif;
}
#foto {
    border-radius: 50%;
    float: left;
    height: 380px;
    padding: 10px;
    background-color: aquamarine;
}

.image-container {
    height: 400px;
    position: relative;
}

div {
    border: 2px solid green;
}

#paragrafo2 {
    position:absolute;
    right: 05%;
    top: 40%;
    text-align: center;
}